* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
  }
  .skills-main {
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #13072d;
    /* position: relative;
    bottom: 50px; */
    flex-direction: column;
    padding: 50px 0;
  }
  .skills-main h1 {
    color: white;
    position: relative;
    bottom: 30px;
    border-bottom: 2px solid white;
  }
  .skillname h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid gainsboro;
    margin-bottom: 30px;
  }
  .skills-inner {
    width: 90%;
    height: 90%;
    background: linear-gradient(to bottom right, #92e5f6, #13072d);
    border-radius: 15px;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    gap: 10px;
  }
  .skills-left, .skills-right {
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    margin: 10px 0;
    border-radius: 10px;
    position: relative;
    margin-left: 15px;
    box-shadow: 0px 0px 5px 5px #c3eef7;
  }
  .skills-right {
    border-right: none; 
  }
  .skills-left h3, .skills-right h3 {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    color: white;
  }
  .skills-left ul, .skills-right ul {
    list-style: none;
    padding: 50px 20px 0;
    width: 100%; 
    position: relative;
    top: 20px;
  }
  .skills-left li, .skills-right li {
    margin-bottom: 30px;
    font-size: 1rem;
    display: flex;
    align-items: center; 
    width: 100%;
  }
  .skills-left span, .skills-right span {
    color: #ffff;
    font-weight: bold;
    min-width: 150px; 
    text-align: left;
  }
  .progress-bar {
    flex-grow: 1;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .progress-fill {
    height: 100%;
    background-color: #9be3e0;
    /* background: linear-gradient(90deg, #4caf50, #8bc34a); */
    border-radius: 5px;
    transition: width 3s ease-in-out; 
    position: relative;
  }
  .progress-fill.animate {
    transition: width 5s ease-in-out; 
  }
  @media (max-width: 430px) {
    /* .skills-main{
      top: 50px;position: relative;
      
    } */
    .skills-inner {
      flex-direction: column;
    }
    .skills-left, .skills-right {
      width: 95%; 
      margin: 10px 0; 
      box-shadow: 0px 0px 5px 3px #c3eef7;
      margin-left: 5px;
    }
    .skills-left h3, .skills-right h3 {
      top: 20px;
      left: 10px;
      font-size: 1.2rem; 
    }
    .skills-left ul, .skills-right ul {
      padding: 30px 10px;
    }
    .skills-left span, .skills-right span {
      font-size: 0.9rem; 
    }
  }
  @media(max-width:768px) {
    .skills-left, .skills-right{
      margin-right: 5px;
    }
    .skills-inner{
      gap: 5px;
    }
    
  }
  @media (max-width: 480px) {
    /* .skills-main{
      top: 50px;position: relative;
      
    } */
    .skills-inner {
      flex-direction: column;
    }
    .skills-left, .skills-right {
      width: 95%; 
      margin: 10px 0; 
      box-shadow: 0px 0px 5px 3px #c3eef7;
      margin-left: 5px;
    }
    .skills-left h3, .skills-right h3 {
      top: 20px;
      left: 10px;
      font-size: 1.2rem; 
    }
    .skills-left ul, .skills-right ul {
      padding: 30px 10px;
    }
    .skills-left span, .skills-right span {
      font-size: 0.9rem; 
    }
  }
  